[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/sitemap.xml"
  to = "https://nuqedbodehxicrtmgcnx.supabase.co/functions/v1/generate-sitemap"
  status = 200
  force = true
  headers = {X-From = "Netlify"}

[[redirects]]
  from = "https://www.technedigital.com.br/*"
  to = "https://technedigital.com.br/:splat"
  status = 301
  force = true

[[headers]]
  for = "/sitemap.xml"
  [headers.values]
    Content-Type = "application/xml"
    Cache-Control = "public, max-age=3600"
